[package]
name = "pr-tracker-fetcher"
version = "1.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1.0.75", features = ["backtrace"] }
camino = "1.1.6"
chrono = { version = "0.4.31", features = ["serde"] }
derive_more.workspace = true
futures = "0.3.29"
gix = { version = "0.56.0", features = ["revision"] }
graphql_client = { version = "0.13.0", features = ["reqwest-rustls", "graphql_query_derive"], default-features = false }
itertools = "0.12.0"
log = "0.4"
env_logger = "0.10.1"
pr-tracker-store.workspace = true
reqwest = { version = "0.11.22", default-features = false, features = ["rustls"] }
serde = "1.0.193"
tokio = { version = "1.34.0", features = ["process", "macros", "rt", "rt-multi-thread"] }
util.workspace = true
wildmatch = { version = "2.3.0", features = ["serde"] }
sqlx-core = "0.7.3"
serde_json = "1.0.111"

[dev-dependencies]
once_cell = "1.19.0"
tempfile.workspace = true
