[package]
name = "pr-tracker-api"
version = "1.0.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pr-tracker-api-config = { path = "../api-config" }
camino = "1.1.6"
confique.workspace = true
pr-tracker-store.workspace = true
rocket = { version = "0.5.0", features = ["json"] }
rocket_db_pools = { version = "0.1.0", features = ["sqlx_postgres"] }
serde.workspace = true
sqlx = { version = "0.7", default-features = false, features = ["macros", "migrate"] }
thiserror.workspace = true
util.workspace = true

[target.'cfg(target_family = "unix")'.dependencies]
sd-notify = "0.4.1"

[dev-dependencies]
db-context.workspace = true
tempfile.workspace = true
tokio = "1.34.0"
