on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@master
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
      - uses: nix-community/cache-nix-action@main
        with:
          primary-key: a-single-key
      - run: nix build .#manual
      - uses: actions/upload-pages-artifact@v3
        with:
          path: result
      - if: github.ref == 'refs/heads/main'
        uses: actions/deploy-pages@v4
